<template>
  <div class="token-container">
    <input type="text" v-model="token" class="form-control" />
    <br>
    <button class="btn btn-primary" @click="updateToken">Set API Key</button>
    <a href="/token" target="_blank" >Retrieve a New Token</a>
  </div>
</template>

<script>
export default {
  name: "ApiToken",
  data: () => {
      return {
          token: ''
      }
  },
  methods: {
    updateToken() {
        localStorage.token = this.token; 
    }
  },
  mounted() {
      if (localStorage.token) {
          this.token = localStorage.token;
          window.axios.defaults.headers.common['Authorization'] =  'Bearer ' + this.token;
      }
  }
};
</script>
<style scoped>
.token-container {
  padding: 1rem;
}
</style>