<!--


Solution Adapted from the work done by Alligator.io (see license below)


Copyright (c) 2019 by Alligator.io (https://codepen.io/alligatorio/pen/mXRGLg)
Fork of an original work by Filipa (https://codepen.io/filipalacerda/pen/EQZLEo)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->
<template>
  <div>
    <p>{{instructions}}</p>
    <hr />
    <div class="autocomplete">
      <input
        type="text"
        class="form-control"
        placeholder="Search for a Book"
        @input="onChange"
        v-model="search"
        @keyup.down="onArrowDown"
        @keyup.up="onArrowUp"
        @keyup.enter="onEnter"
      />
      <ul id="autocomplete-results" v-show="isOpen" class="autocomplete-results">
        <li class="loading" v-if="isLoading">Loading results...</li>
        <li
          v-else
          v-for="(result, i) in results"
          :key="i"
          @click="setResult(result)"
          class="autocomplete-result"
          :class="{ 'is-active': i === arrowCounter }"
        >{{ `${result.title} -- ${result.author_name[0]} -- ${result.isbn ? result.isbn[0] || 'No ISBN' : 'No ISBN'}` }}</li>
      </ul>
    </div>
    <div v-if="Object.keys(selected).length">
      <strong>Selected Book</strong>
      <div class="action-container">
        <button class="btn btn-outline-primary" @click.stop="onAdd(selected)">Add to Shelf</button>
        <button class="btn btn-outline-info" @click.stop="clearSelection">Clear</button>
      </div>
      <pre class="book-debug">
        <code>
          {{selected}}
        </code>
      </pre>
    </div>
  </div>
</template>
<script>
// Timeout in ms to prevent constant hammering of the API server.`
const API_REQUEST_TIMEOUT = 500;
// By default the API returns up to 100 results. No need
// to add them all for this demo.
const RESULT_LIMIT = 10;

function buildUrl(query) {
  const base = "https://openlibrary.org/search.json?q=";
  return base + encodeURIComponent(query);
}

let timeout = null;

export default {
  name: "BookSearch",
  methods: {
    onChange() {
      if (this.isLoading) {
        return;
      } else if (this.search.trim() === "") {
        this.clearSelection();
        return;
      } else {
        clearTimeout(timeout);
        timeout = setTimeout(() => {
          const url = buildUrl(this.search);
          try {
            fetch(url)
              .then(res => res.json())
              .then(data => {
                let mapped = data.docs
                  .filter(d => {
                    return d.author_name && d.author_name.length;
                  })
                  .slice(0, RESULT_LIMIT);
                this.results = mapped;
                this.isLoading = false;
                this.isOpen = true;
              })
              .catch(err => {
                this.isLoading = false;
                this.isOpen = false;
                this.$emit("error", err);
              });
            // fetch is async and this will evaluate immediatly after the network call
            // initiates
            this.isLoading = true;
          } catch (e) {
            this.$emit("error", e);
          }
        }, API_REQUEST_TIMEOUT);
      }
    },
    setResult(result) {
      this.selected = result;
      this.search = "";
      this.isOpen = false;
    },
    onArrowDown(evt) {
      if (this.arrowCounter < this.results.length) {
        this.arrowCounter = this.arrowCounter + 1;
      }
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
      }
    },
    onEnter() {
      this.search = this.results[this.arrowCounter];
      this.isOpen = false;
      this.arrowCounter = -1;
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.isOpen = false;
        this.arrowCounter = -1;
      }
    },
    clearSelection() {
      this.selected = {};
    },
    onAdd(s) {
      const title = s.title;
      const author = s.author_name[0];
      const isbn = s.isbn ? s.isbn[0] || "No ISBN" : "No ISBN";
      const cover_id = s.cover_i + "";
      const api_response = JSON.stringify(s);
      this.$emit("addBook", { title, author, isbn, cover_id, api_response });
      this.clearSelection();
    }
  },
  data() {
    return {
      no_results: "Hmm, nothing was returned, please try another query",
      instructions:
        "Search for a book by name, ISBN, Author. Select an option from the dropdown  and once satisfied, click the add to shelf button.",
      isOpen: false,
      results: [],
      search: "",
      isLoading: false,
      arrowCounter: 0,
      items: [],
      selected: {}
    };
  },
  mounted() {
    document.addEventListener("click", this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener("click", this.handleClickOutside);
  }
};
</script>

<style scoped>
.autocomplete {
  position: relative;
  width: 400px;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  border: 1px solid #4aae9b;
  max-height: 500px;
  overflow: auto;
  position: absolute;
  z-index: 100;
  background: #e0e0e0;
  width: 100%;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 4px 2px;
  cursor: pointer;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: #4aae9b;
  color: white;
}

.book-debug {
  max-height: 400px;
  width: 100%;
  overflow: auto;
  background: #e0e0e0;
}

.action-container {
  display: inline-flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
</style>