<template>
  <div class="book-list-item">
    <img class="book-cover" :src="bookCoverImage" alt="The book's cover image">
    <div>{{book.title}}</div>
    <div>{{book.author}}</div>
    <div>{{book.isbn}}</div>
    <div>
      <a :href="`/bookshelf/${book.id}`">{{actionText}}</a>
    </div>
    <div>
      <button @click.stop="remove">{{removeText}}</button>
    </div>
  </div>
</template>
<script>

const noCover = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAA6CAYAAADcKStOAAAAQklEQVR42u3OQREAAAQAMJ76l9BHITWc2xIsu2rioBQTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTE/sVW18NWi0/ANjYAAAAAElFTkSuQmCC'

export default {
  name: "BookListItem",
  props: {
    book: {
      required: true,
      type: Object
    }
  },
  computed: {
    bookCoverImage() {
      return this.book.cover_id && this.book.cover_id !== 'undefined'  ? `https://covers.openlibrary.org/b/id/${this.book.cover_id}-S.jpg` : noCover;
    }
  },
  data() {
    return {
      actionText: "View Details",
      removeText: "Remove Book"
    };
  },
  methods: {
    remove() {
      this.$emit('remove', this.book.id)
    }
  }
};
</script>
<style scoped>

.book-cover {
  width: 35px;
  height: 58px;
}
.book-list-item {
  background: #424242;
  width: 100%;
  border: solid;
  display: inline-flex;
  flex-wrap: wrap;
  color: antiquewhite;
  height: 150px;
  padding: 5px;
  justify-content: space-between;
}
</style>