<template>
  <div>
    <h1>Your Bookshelf</h1>
    <p>
      Once there are books added to your shelf, the order can be changed by dragging and dropping the book into the desired position.
    </p>
    <div>
      <h5>Sort Options</h5>
      <input type="radio" id="one" value="order" v-model="sortOn" />
      <label for="one">User Defined Order</label>
      <input type="radio" id="two" value="title" v-model="sortOn" />
      <label for="two">Title</label>
      <input type="radio" id="three" value="author" v-model="sortOn" />
      <label for="three">Author</label>
       <input type="radio" id="four" value="isbn" v-model="sortOn" />
      <label for="four">ISBN</label>
    </div>
    <hr>
    <h5>Search OpenLibrary for a Book</h5>
    <book-search @addBook="onAddBook"></book-search>
    <book-list @updateOrder="onUpdateOrder" @remove="onRemove" :books="books" :disableReorder="sortOn !== 'order'"></book-list>
  </div>
</template>
<script>
const config = {
  headers: { Authorization: "Bearer " + localStorage.token }
};

function comparePosition(a, b) {
  a = parseInt(a.at, 10);
  b = parseInt(b.at, 10);
  return a - b;
}

function compareString(a, b, key) {
  return a[key].localeCompare(b[key]);
}
export default {
  name: "BookShelf",
  props: {
    shelf: {
      type: Array,
      required: false,
      default: () => {
        [];
      }
    }
  },
  data: () => {
    return {
      books: [],
      sortOn: "order"
    };
  },
  methods: {
    onAddBook(book) {
      axios
        .post("/api/books", book, config)
        .then(res => {
          this.books.push(res.data);
          this.sort();
        })
        .catch(err => {
          console.log(err);
        });
    },
    onUpdateOrder(payload) {
      axios
        .put(
          `/api/books/order/${payload.id}`,
          { at: payload.newIndex + 1 },
          config
        )
        .then(res => {
          this.books = res.data;
          this.sort();
        })
        .catch(err => {
          //  move item back to old idx
          console.log(err);
        });
    },
    onRemove(id) {
      axios
        .delete(`/api/books/${id}`, config)
        .then(res => {
          this.books = this.books.filter(book => book.id !== id);
        })
        .catch(err => {
          //  move item back to old idx
          console.log(err);
        });
    },
    sort() {
      if (this.sortOn === "order") {
        this.books.sort(comparePosition);
      } else {
        this.books.sort((a, b) => compareString(a, b, this.sortOn));
      }
    }
  },
  mounted() {
    this.books.push(...this.shelf.sort(comparePosition));
  },

  watch: {
    sortOn() {
      this.sort()
    }
  }
};
</script>
<style scoped>
</style>
