<template>
  <div class="card">
    <div class="card-header">
      <strong>{{title}}</strong>
    </div>
    <div class="card-body">
      <div v-if="disableReorder" class="alert alert-secondary" role="alert">
       {{disabledText}}
      </div>
      <draggable
        :list="books"
        v-if="books.length"
        class="book-list"
        :disabled="disableReorder"
        ghost-class="ghost"
        :move="checkMove"
        @start="dragging = true"
        @end="onEnd"
      >
        <book-list-item :class="{'canDrag': !disableReorder }" v-for="(book) in books" :book="book" :id="`book-${book.id}`" @remove="onRemove" :key="book.id"></book-list-item>
      </draggable>
      <p v-else>{{empty}}</p>
    </div>
  </div>
</template>
<script>
import draggable from "vuedraggable";
export default {
  name: "BookList",
  components: {
    draggable
  },
  display: "Simple",
  order: 0,
  mounted() {
    console.log("Booklist mounted");
  },
  methods: {
    checkMove: function(e) {
      window.console.log("Future index: " + e.draggedContext.futureIndex);
    },
    onEnd(evt) {
      const oldIndex = evt.oldIndex;
      const newIndex = evt.newIndex;
      // The book db ID is bound to the elem id with the prefix `book-`
      const id = parseInt(evt.item.id.replace('book-', ''), 10);
      this.$emit('updateOrder', {oldIndex, newIndex, id});
      this.dragging = false;
    },
    onRemove(id) {
      this.$emit('remove', id);
    }
  },
  props: {
    books: {
      type: Array,
      required: false,
      default: () => {
        return [];
      }
    },
    disableReorder: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      title: "Bookshelf",
      empty: "No books added yet!",
      disabledText: 'Drag and Drop reordering disabled until the sort option "User Defined Order" is selected',
      dragging: false
    };
  }
};
</script>
<style scoped>
.book-list {
  min-width: 300px;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.canDrag {
   cursor: move;
}
</style>
