<template>
    <article> 
      <section>
        <img :src="coverImage" alt="Cover image of the book" />
      </section>
      <section class="details">
        <div>
          <strong>Title</strong>
          {{book.title}}
        </div>
        <div>
          <strong>Author</strong>
          {{book.author}}
        </div>
        <div>
          <strong>ISBN</strong>
          {{book.isbn}}
        </div>
      </section>
    <section style="width: 100%;">
        <h3>Full API response</h3>
        <figure class="card">
        <pre class="pre-scrollable">
        <code>
            {{book.api_response.trim() | pretty}}
        </code>
    </pre>
        </figure>
    </section>
    </article>
</template>

<script>
const noCover =
  "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAA6CAYAAADcKStOAAAAQklEQVR42u3OQREAAAQAMJ76l9BHITWc2xIsu2rioBQTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTE/sVW18NWi0/ANjYAAAAAElFTkSuQmCC";
export default {
  name: "BookDetails",
  props: {
    book: {
      type: Object,
      required: true
    }
  },
  computed: {
    coverImage() {
      return this.book.cover_id && this.book.cover_id !== "undefined"
        ? `https://covers.openlibrary.org/b/id/${this.book.cover_id}-M.jpg`
        : noCover;
    }
  },
  filters: {
    pretty: function(value) {
      return JSON.stringify(JSON.parse(value), null, 2);
    }
  }
};
</script>


<style scoped>
article {
    display: flex;
    flex-wrap: wrap;
}
.details {
    padding: 1rem;
}
</style>